{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Événements « j’y vais »</h1>
    <ul>
        {% for event in events %}
            <li>
                <a href="{{ path('app_event_show', {id: event.id}) }}">
                    {{ event.title }} – {{ event.date|date('d/m/Y') }}
                </a>
            </li>
        {% else %}
            <li>Aucun événement.</li>
        {% endfor %}
    </ul>
{% endblock %}