.neon-text {
    font-weight: bold;
    animation: neon-color-change 5s infinite;
}

@keyframes neon-color-change {
    0% {
        color: #ff00de;
        text-shadow: 0 0 10px #ff00de;
    }

    33% {
        color: #00ffff;
        text-shadow: 0 0 10px #00ffff;
    }

    66% {
        color: #ff00ff;
        text-shadow: 0 0 10px #ff00ff;
    }

    100% {
        color: #ff00de;
        text-shadow: 0 0 10px #ff00de;
    }
}

.bg-grid {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 20px 20px;
    background-position: center center;
}