<header class=" bg-black bg-grid w-full top-0 z-50 transition-all duration-300">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
        <img src="public/logo-noctinium-Removebg.png" alt="NOCTINIUM" class="h-72">

        <nav>
            <ul class="flex space-x-6 text-white font-bold">
                <li><a href="#home" class="nav-link">Accueil</a></li>
                <li><a href="#events" class="nav-link">Événements</a></li>
                <li><a href="#about" class="nav-link">A Propos</a></li>
                <li><a href="#contact" class="nav-link">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>