<header class="bg-black bg-grid w-full top-0 z-50 transition-all duration-300">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <img src="assets/logo-noctinium-Removebg.png" alt="NOCTINIUM" class="h-24 md:h-32 lg:h-40">

        <button class="hamburger-menu md:hidden" (click)="toggleMenu()" [class.open]="isMenuOpen">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <nav [class.active]="isMenuOpen">
            <ul class="flex space-x-4 md:space-x-6 text-white font-bold text-sm md:text-base">
                <li><a href="#home" class="nav-link" (click)="closeMenu()">Accueil</a></li>
                <li><a href="#events" class="nav-link" (click)="closeMenu()">Événements</a></li>
                <li><a href="#about" class="nav-link" (click)="closeMenu()">A Propos</a></li>
                <li><a href="#contact" class="nav-link" (click)="closeMenu()">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>